* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: #494d5f;
    color: #fff;
}
.btn{
color: #000;
font-size: 40px;
position: relative;
display: inline-flex;
justify-content: space-between;
align-items: center;
}

progress{
    color:darkgray;
    accent-color: #fff;
}

.Songs{
    width: 320px;
    height: auto;
    background-color: #000;
    border: solid gray;
}
.SongDetail{
    width: 320px;
    height: auto;
    background-color: #000;
    border: solid gray;
}
